th{
    font-weight: bold;
}

.mat-column-firstName, .mat-column-lastName, .mat-column-middleName{
    min-width: 200px;
}

.mat-column-subjects{
    min-width: 400px;
    overflow: initial;
    text-align: center;
}

.subject-div{
    width: 100%;
    padding: 4px;
    border-radius: 5px;
}

.primary-color{
    background-color: #3F51B5;
    color: white;
}

.accent-color{
    background-color: #FF4080;
    color: white;
}

.basic-color{
    background-color: #E0E0E0;
}

.academic-subjects{
    display: flex;
    gap: 4px;
}

.mat-column-operations{
    min-width: 240px; 
    width: 240px;    
    padding: 0;
    text-align: end;
}
