<div class="container">
  <h2 class="text-center">{{title}}</h2>      
  <table class="table align-middle">
    <thead>
      <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th class="text-end">
          <button mat-raised-button color="primary" (click)="openCreateDialog()">Добавить</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of teachers">
        <td>{{teacher?.lastName}}</td>    
        <td>{{teacher?.firstName}}</td> 
        <td>{{teacher?.middleName}}</td>  
        <td class="text-end">
          <button mat-raised-button color="primary" (click)="openEditDialog(teacher)">Подробнее</button>
          <button (click)="deleteTeacher(teacher.id)" class="btn btn-danger table-btn">Удалить</button>
        </td>
      </tr>
    </tbody>     
  </table>
</div>
