<div mat-dialog-content>
  <div class="dialog-title">
    <h3>Добавление предмета</h3>
    <button mat-icon-button class="close-button" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-form-field style="width: 100%">
    <mat-label>Название предмета</mat-label>
    <input matInput [(ngModel)]="academicSubject.name">
  </mat-form-field>
  <div>
    <label>Классы, в которых он изучается</label>
    <mat-slider style="width: 96%" min="1" max="11" step="1" showTickMarks discrete>
      <input matSliderStartThumb [(value)]="academicSubject.minClass">
      <input matSliderEndThumb [(value)]="academicSubject.maxClass">
    </mat-slider>   
  </div>   
  <div style="text-align: center">
    <button mat-raised-button (click)="createAcademicSubject()" class="emerald-button">Добавить</button>
  </div>     
</div>    
