<nav mat-tab-nav-bar [tabPanel]="tabPanel" class="w-max">
	<a mat-tab-link 		
		routerLinkActive #rla="routerLinkActive"
		[active]="rla.isActive"
		routerLink="/administration">
		<mat-icon class="logo">school</mat-icon>Админка</a>
	<a mat-tab-link *ngFor="let link of links; index as i"
		routerLinkActive #rla="routerLinkActive"
		[routerLinkActiveOptions]="{exact: false}"
		[active]="rla.isActive"
		routerLink="{{link}}">{{labels[i]}}</a>
</nav>
<mat-tab-nav-panel #tabPanel>
	<router-outlet></router-outlet>
</mat-tab-nav-panel>
