.navbar{        
	.navbar-brand{
		border: 0;
		margin-left: 50px;
	}
	.nav-item{
		margin-left: 20px;
		.btn{
			font-size: large;
			border-radius: 0;
			border: 0;
		}
		.btn-check:checked+.btn{
			font-weight: bold;
			border-bottom: 2px solid rgba(0,0,0,.125); 
		}	
	}
}