.navbar{        
	.navbar-brand{
		margin-left: 50px;
	}
	.nav-item{
		margin-left: 20px;
		.btn{
			font-size: large;
		}
		.btn-check:checked+.btn{
			font-size: larger;
			font-weight: bold;
			border-bottom: 2px solid rgba(0,0,0,.125); 			
		}	
	}
}
