<div class="container">
  <h2 class="text-center">{{title}}</h2>   
  <table class="table align-middle">
    <thead>
      <tr>
        <th class="col-2">Фамилия</th>
        <th class="col-2">Имя</th>
        <th class="col-2">Отчество</th>
        <th class="col-2">Дата рождения</th>
        <th class="col">Пол</th>
        <th class="col">Класс</th>
        <th class="col-2 text-end">
          <button mat-raised-button color="primary" (click)="openDialog()">Добавить</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <ng-template [ngIf]="editableStudent?.id != student.id" [ngIfElse]="edit">
          <td>{{student?.lastName}}</td>
          <td>{{student?.firstName}}</td>
          <td>{{student?.middleName}}</td>            
          <td>{{student?.birthday | date:'dd.MM.yyyy'}}</td>
          <td>
            <span *ngIf="student?.gender == 'M'">Мужской</span>
            <span *ngIf="student?.gender == 'W'">Женский</span>
          </td> 
          <td>{{student?.classId}}</td>
          <td class="text-end">
            <button (click)="editStudent(student)" class="btn light-blue table-btn">Изменить</button>
            <button (click)="deleteStudent(student.id)" class="btn btn-danger table-btn">Удалить</button>
          </td>
        </ng-template>
      </tr>
    </tbody> 
  </table>   
</div>
  
<ng-template #edit>
    <td>
      <input [(ngModel)]="editableStudent.lastName" type="text" class="form-control form-control-sm" placeholder="Введите фамилию">
    </td>
    <td>
      <input [(ngModel)]="editableStudent.firstName" type="text" class="form-control form-control-sm" placeholder="Введите имя">
    </td>
    <td>
      <input [(ngModel)]="editableStudent.middleName" type="text" class="form-control form-control-sm" placeholder="Введите отчество">
    </td>
    <td>
      <input [(ngModel)]="editableStudent.birthday" type="date" class="form-control form-control-sm" min="{{min_data | date:'yyyy-MM-dd'}}" max="{{max_data | date:'yyyy-MM-dd'}}">
    </td>
    <td>
      <select [(ngModel)]="editableStudent.gender" id="inputGender" class="form-select form-select-sm">  
        <option value="M">Мужской</option>
        <option value="W">Женский</option>
      </select>
    </td>         
    <td>
      <select [(ngModel)]="editableStudent.classId" class="form-select form-select-sm">  
        <option *ngFor="let class of classes" value="{{class.id}}">{{class.id}}</option>
      </select> 
    </td>
    <td class="text-end">
        <button (click)="updateStudent()" class="btn btn-success table-btn">Сохранить</button>
        <button (click)="cancel()" class="btn btn-warning table-btn">Отмена</button>
    </td>
</ng-template>