.container{
    font-family: 'Roboto', sans-serif;  
    td, th{
        font-size: large;
        button {
            margin: 0px 5px;
            padding: 3px;
        }
    }
    .btn-group{
        .btn{
            border: 1px solid rgba(0,0,0,.125); 
            padding: 3px;
        }
    }
    select{
        option{
            display: inline-block;
        }
    }
}