.table{
    .light-blue{
        color: white;
        background-color: rgb(75, 175, 200);
    }
    .btn-sm{
        margin-left: 5px;
        padding: 3px;
    }    
}

.row-input{
    .form-select{
        padding-right: 10px;
        background: white;
    }
    #inputBirthday{
        width: 120px;
    }    
    #inputGender{
        width: max-content;
    }   
}

.w-80{
    width: 80px;
}
