.close-button{
    position: absolute;
    top: 24px;
    right: 24px;
}

mat-form-field{
    width: 100%;
    margin-bottom: 15px;
}

.emerald-button{
    background-color: #58BC82;
    color: white;
}
