<div mat-dialog-content>
  <h3>Добавление ученика</h3>
  <button mat-icon-button class="close-button" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
  <div class="input-form">
    <mat-form-field>
      <mat-label>Фамилия</mat-label>
      <input matInput [(ngModel)]="student.lastName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Имя</mat-label>
      <input matInput [(ngModel)]="student.firstName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Отчество</mat-label>
      <input matInput [(ngModel)]="student.middleName">
    </mat-form-field>
    <mat-form-field style="width: 200px; margin-right: 5px">
      <mat-label>Дата рождения</mat-label>
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" [(ngModel)]="student.birthday">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="width: 120px; margin-right: 5px">
      <mat-label>Пол</mat-label>
      <mat-select [(ngModel)]="student.gender">
        <mat-option value="M">Мужской</mat-option>
        <mat-option value="W">Женский</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 100px">
      <mat-label>Класс</mat-label>
      <mat-select [(ngModel)]="student.classId">
        <mat-option *ngFor="let class of classes" [value]="class">{{class}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div style="text-align: center">
    <button mat-raised-button (click)="createStudent()" class="emerald-button">Добавить</button>
  </div>     
</div>    
