<div class="container">    
    <div class="flex justify-around">
        <div>
            <h2 class="text-center">Информация</h2>
            <mat-divider></mat-divider>
            <div class="mt-4">
                <div class="flex items-center gap-4">
                    <div class="info-block w-24">Директор</div>
                    <h4 class="m-0">{{schoolStat.director}}</h4>
                </div>
                <div class="flex items-center gap-4">
                    <div class="info-block w-24">Завуч</div>
                    <h4>{{schoolStat.headTeacher}}</h4>
                </div>
                <div class="flex items-center gap-4">
                    <div class="info-block w-48">Количество учеников</div>
                    <h4 class="m-0">{{schoolStat.studentsCount}}</h4>
                </div>
                <div class="flex items-center gap-4">
                    <div class="info-block w-48">Количество учителей</div>
                    <h4>{{schoolStat.teachersCount}}</h4>
                </div> 
            </div>        
        </div>
        <div>
            <h2 class="text-center">Операции</h2>
            <mat-divider></mat-divider>
            <div class="mt-4">
                <button mat-raised-button color="primary" (click)="upStudents()">Перевести учеников в следующий класс</button>
            </div>
        </div>
    </div>  
</div>
