.span-gray{
    background: #e9ecef;
    margin-right: 10px;
}

.light-blue{
    color: white;
    background-color: rgb(75, 175, 200);
}

.h-30{
    height: 30px;
    line-height: 30px;
}

.sm{
    width: 100px;
}
.bg{
    width: 200px;
}
