th{
    font-weight: bold;
}

.mat-column-name{
  min-width: 300px;
  padding: 0 0 0 16px;
  mat-form-field{
    width: 200px;
    margin-left: -16px;
  }
}

.mat-column-classes {
    min-width: 400px;
    overflow: initial;
    text-align: center;
    table{
        width: 100%;
        table-layout: fixed;
        td{ width: 100% }
        .primary-color{
            background-color: #3F51B5;
            color: white;
        }
    }
    mat-slider{
        height: 20px;
        width: 98%;
    }
}

.mat-column-operations{
    min-width: 240px; 
    width: 240px;    
    padding: 0;
    text-align: end;
}
