<div class="container-fluid">
  <h2 class="text-center">{{title}}</h2> 
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-4 text-end">
      <h3>Классы</h3> 
    </div>
    <div class="col-8"> 
      <mat-chip-listbox>
        <mat-chip-option *ngFor="let class of classes" routerLink="../{{class.id}}" selected="{{class.id == id}}" selectable="false">{{class.id}}</mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>
  <div *ngIf="id > 0 && id < 12 else empty" class="responsive-grid">
    <mat-card *ngFor="let day of timetable; let i = index" class="form-field-density-5 icon-button-density-5">
      <h5 style="height: 30px;">{{headers[i]}}</h5>
      <div [ngSwitch]="day[0].day">
        <div *ngSwitchCase="edit_day">
          <button mat-icon-button (click)="cancel()" class="action-button"><mat-icon>close</mat-icon></button>
          <div *ngFor="let lesson of timetableDay" class="lesson">
            <mat-form-field class="timetable-select">
              <select matNativeControl [(ngModel)]="lesson.academicSubjectId">
                <option *ngFor="let subject of academicSubjects" [value]="subject.id">{{subject.name}}</option>
              </select>
              <button *ngIf="lesson" (click)="deleteLesson(lesson)" matSuffix mat-icon-button><mat-icon>close</mat-icon></button>
            </mat-form-field>
          </div>
          <div class="text-center">
            <button mat-icon-button (click)="updateTimetableDay()"><mat-icon>check</mat-icon></button> 
          </div>
        </div>
        <div *ngSwitchDefault>
          <button mat-icon-button (click)="editTimetableDay(day)" class="action-button"><mat-icon>edit</mat-icon></button>
          <div *ngFor="let lesson of day" class="lesson" style="padding-left: 10px;">{{lesson.academicSubjectName}}</div>
        </div>
      </div>  
    </mat-card>
  </div>
</div>

<ng-template #empty>
  <h3 style="text-align: center;">Такого класса нет</h3> 
</ng-template>
