.cont{
    font-family: 'Roboto', sans-serif;     
    margin: 0 5%;  
    .btn{
        height: 36px;
        width: 36px;
        margin: 5px;
        padding: 5px 0;        
    }
    .checked{
        height: 46px;
        width: 46px;
    }    
    .card{
        width: 190px;
        padding: 10px 10px 0px;
        .data{
            height: 40px;
            border-top: 1px solid rgba(0,0,0,.125);   
            .form-select{
                background: white;
                border-right: 0;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                padding: 0px 2px 0px 5px;                
                height: 27px;
                width: 140px;
                font-size: small;
            } 
        }
    } 
} 
