.container-xxl{
    .card-day{
        width: 190px;
        padding: 10px 10px 0px;
        margin-bottom: 10px;
        .data{
            height: 40px;
            border-top: 1px solid rgba(0,0,0,.125); 
            .form-select{ 
                font-size: small; 
            }          
        }
    } 
} 