.close-button{
    position: absolute;
    top: 26px;
    right: 24px;
    height: 24px;
    width: 24px;
    padding: 0;
}

.edit-button{
    position: absolute;
    top: 26px;
    right: 55px;
    height: 24px;
    width: 24px;
    padding: 0;
}

.emerald-button{
    background-color: #58BC82;
    color: white;
}

mat-form-field{
    margin-bottom: 15px;
    width: 100%
}

mat-button-toggle-group{
    border: 0;
    margin-bottom: 10px;
}

mat-button-toggle{
    height: 40px;
    width: 40px; 
    border-radius: 50%;      
    margin: 1px;     
}

.mat-button-toggle-checked{
    background-color: #3F51B5;
    color: white;
  }