<div mat-dialog-content>
  <div class="flex items-center justify-between icon-button-density-5 mb-5">
    <h2 class="m-0">{{data.dialogTitle}}</h2>
    <div>
      <button mat-icon-button *ngIf="data.editMode" (click)="saveTeacher()"><mat-icon>check</mat-icon></button>
      <button mat-icon-button *ngIf="!data.editMode" (click)="enableEdit()"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button mat-dialog-close class="ml-1"><mat-icon>close</mat-icon></button>
    </div>
  </div>
  <div class="information">
    <div class="w-full" [ngSwitch]="data.editMode">
      <h4>Фамилия</h4>
      <mat-form-field *ngSwitchCase="true">
        <input matInput [(ngModel)]="data.teacher.lastName" placeholder="Введите фамилию">
      </mat-form-field>
      <div *ngSwitchDefault class="name-div">{{data.teacher.lastName}}</div>
      <h4>Имя</h4>
      <mat-form-field *ngSwitchCase="true">
        <input matInput [(ngModel)]="data.teacher.firstName" placeholder="Введите имя">
      </mat-form-field>
      <div *ngSwitchDefault class="name-div">{{data.teacher.firstName}}</div>
      <h4>Отчество</h4>
      <mat-form-field *ngSwitchCase="true">
        <input matInput [(ngModel)]="data.teacher.middleName" placeholder="Введите отчество">
      </mat-form-field>
      <div *ngSwitchDefault class="name-div">{{data.teacher.middleName}}</div></div>
    <div class="w-full text-center" [ngSwitch]="data.editMode">    
      <h4>Классы</h4>
      <mat-button-toggle-group [(ngModel)]="data.teacher.specialization" class="mt-1 mb-2" [disabled]="!data.editMode">
        <mat-button-toggle value="Учитель начальных классов">Начальные</mat-button-toggle>
        <mat-button-toggle value="Учитель старших классов">Старшие</mat-button-toggle>
      </mat-button-toggle-group>
      <h4>Учебные предметы</h4>
      <div [ngSwitch]="data.teacher.specialization">
        <mat-form-field *ngSwitchCase="'Учитель старших классов'" class="form-field-density-5">
          <mat-select [(ngModel)]="teacherSubjectsIds" placeholder="Выберите предметы" multiple [disabled]="!data.editMode">        
            <mat-select-trigger>
              <mat-chip-listbox class="mat-mdc-chip-set-stacked">
                <mat-chip-option *ngFor="let id of teacherSubjectsIds" selectable="false" selected>
                  {{getSubjectNameById(id)}}
                  <mat-icon matChipRemove *ngIf="data.editMode" (click)="removeSubject(id)">cancel</mat-icon>
                </mat-chip-option>
              </mat-chip-listbox>
            </mat-select-trigger>        
            <mat-option *ngFor="let subject of data.academicSubjects" [value]="subject.id">{{subject.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngSwitchDefault class="name-div">Все предметы начальных классов</div>
      </div>
    </div>
  </div>    
</div>    
