<div mat-dialog-content>
  <div class="icon-button-density-5 mb-3">
    <h3>{{data.dialogTitle}}</h3>
    <button mat-icon-button *ngIf="data.editMode" (click)="saveTeacher()" class="action-button"><mat-icon>check</mat-icon></button>
    <button mat-icon-button *ngIf="!data.editMode" (click)="enableEdit()" class="action-button"><mat-icon>edit</mat-icon></button>
    <button mat-icon-button class="close-button" mat-dialog-close><mat-icon>close</mat-icon></button>
  </div>
  <table style="width: 520px;"><tr>
    <td class="col-6 align-top pe-3" [ngSwitch]="data.editMode">
      <label class="fw-bold mb-1">Фамилия</label>
      <mat-form-field *ngSwitchCase="true">
        <input matInput [(ngModel)]="data.teacher.lastName" placeholder="Введите фамилию">
      </mat-form-field>
      <div *ngSwitchDefault class="name-div">{{data.teacher.lastName}}</div>
      <label class="fw-bold mb-1">Имя</label>
      <mat-form-field *ngSwitchCase="true">
        <input matInput [(ngModel)]="data.teacher.firstName" placeholder="Введите имя">
      </mat-form-field>
      <div *ngSwitchDefault class="name-div">{{data.teacher.firstName}}</div>
      <label class="fw-bold mb-1">Отчество</label>
      <mat-form-field *ngSwitchCase="true">
        <input matInput [(ngModel)]="data.teacher.middleName" placeholder="Введите отчество">
      </mat-form-field>
      <div *ngSwitchDefault class="name-div">{{data.teacher.middleName}}</div></td>
    <td class="text-center align-top" [ngSwitch]="data.editMode">    
      <label class="fw-bold mb-1">Классы</label>
      <mat-button-toggle-group [(ngModel)]="data.teacher.specialization" [disabled]="!data.editMode">
        <mat-button-toggle value="Учитель начальных классов">Начальные</mat-button-toggle>
        <mat-button-toggle value="Учитель старших классов">Старшие</mat-button-toggle>
      </mat-button-toggle-group>
      <label class="fw-bold mb-1" style="margin-top: 10px;">Учебные предметы</label>
      <div [ngSwitch]="data.teacher.specialization">
        <mat-form-field *ngSwitchCase="'Учитель старших классов'" class="form-field-density-5">
          <mat-select [(ngModel)]="teacherSubjectsIds" placeholder="Выберите предметы" multiple [disabled]="!data.editMode">        
            <mat-select-trigger>
              <mat-chip-listbox class="mat-mdc-chip-set-stacked">
                <mat-chip-option *ngFor="let id of teacherSubjectsIds" selectable="false" selected>
                  {{getSubjectNameById(id)}}
                  <mat-icon matChipRemove *ngIf="data.editMode" (click)="removeSubject(id)">cancel</mat-icon>
                </mat-chip-option>
              </mat-chip-listbox>
            </mat-select-trigger>        
            <mat-option *ngFor="let subject of data.academicSubjects" [value]="subject.id">{{subject.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngSwitchDefault class="name-div">Все предметы начальных классов</div>
      </div></td>
  </tr></table>    
</div>    
