.close-button{
    position: absolute;
    top: 24px;
    right: 24px;
}

.action-button{
    position: absolute;
    top: 24px;
    right: 56px;
}

.name-div{
    background-color: #3F51B5;
    color: white;
    width: 100%; 
    padding: 14px 17px;
    margin-bottom: 15px;
    border-radius: 5px 5px 0 0;
}

mat-form-field{
    width: 100%;
    margin-bottom: 15px;
}

mat-button-toggle-group{
    width: 100%;
}

mat-button-toggle{
    height: 30px;
    line-height: 30px;
    width: 100%; 
}

.mat-button-toggle-checked{
    background-color: #3F51B5;
    color: white;
}
