*{
    font-family: 'Roboto', sans-serif;
}

.table-btn{
    font-size: small;
    margin: 0px 2px;
    padding: 3px 6px;
} 

th{
    font-size: small;
}

.light-blue{
    color: white;
    background-color: rgb(75, 175, 200);
}

.form-sel-x{
    height: 25px;
    width: 100%;
    .form-select{  
        padding: 0px 2px 0px 5px;                
        height: 25px;          
        background: white;    
    }
    .form-sel-disabled{
        background: lightgray;
    }
}