@use '@angular/material' as mat;
@tailwind utilities;

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{ padding: 0 16px; }

.table-button-1{
    width: 128px;
    letter-spacing: 0;
}

.table-button-2{
    width: 108px;
    letter-spacing: 0;
}

.mat-green{
    background-color: #58BC82 !important;
    color: white !important;
}
  
.mat-grey{
    background-color: #6c8794 !important;
    color: white !important;
}

.mat-button-toggle-label-content{
    line-height: 0px !important;
    padding: 0 !important;
}

@include mat.form-field-density(-1);

.table-density-2{
    @include mat.table-density(-2);
}

.form-field-density-5{
    @include mat.form-field-density(-5);
    @include mat.icon-button-density(-5);  
}

.icon-button-density-5{
    @include mat.icon-button-density(-5);  
}

.button-density-2{
    @include mat.button-density(-2);  
}

.custom-slider{
    .mat-mdc-slider-visual-thumb{ height: 20px !important; }
    .mdc-slider__value-indicator{ margin-bottom: -15px; }
    .mat-ripple{ display: none; } 
}

.timetable-select{  
    .mat-mdc-text-field-wrapper{ padding-left: 10px; }
    .mat-mdc-form-field-infix:after{ display: none; }
    .mat-mdc-form-field-icon-suffix{ padding: 0 !important; }
    .mat-mdc-input-element{
        padding: 0 !important;
        font-size: 14px !important;
    }
}
