@use '@angular/material' as mat;

*{
    font-family: 'Roboto', sans-serif;
}

.table-btn{
    font-size: small;
    margin: 0px 2px;
    padding: 3px 6px;
} 

.light-blue{
    color: white;
    background-color: rgb(75, 175, 200);
}

.form-sel-x{
    height: 25px;
    width: 100%;
    .form-select{  
        padding: 0px 2px 0px 5px;                
        height: 25px;          
        background: white;    
    }
    .form-sel-disabled{
        background: lightgray;
    }
}

.mat-button-toggle-label-content{
    line-height: 0px !important;
    padding: 0 !important;
}

@include mat.form-field-density(-1);

.table-density-2{
    @include mat.table-density(-2);
}

.form-field-density-5{
    @include mat.form-field-density(-5);
    @include mat.icon-button-density(-4);  
}

.icon-button-density-5{
    @include mat.icon-button-density(-5);  
}

.button-density-2{
    @include mat.button-density(-2);  
}
