.responsive-grid{
    padding: 30px 5% 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 16px;
}

.name-div{
    background-color: #3F51B5;
    color: white;
    height: 36px;
    line-height: 36px;
    padding-left: 16px;
    border-radius: 5px 5px 0 0;    
}

mat-form-field{ width: 100%; }

.actions-buttons{
    display: flex;
    gap: 8px;
    button{ letter-spacing: 0; }
}
