<div class="container-md"> 
<h2>{{title}}</h2>      
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Название класса</th>
        <th>Классный руководитель</th>
        <th>Операции</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let one of classes" class="align-middle">
        <ng-template [ngIf]="class?.id != one.id" [ngIfElse]="edit">
          <td>{{one?.id}}</td>          
          <td>{{one?.name}}</td>
          <td>{{one?.classTeacherFullName}}</td>
          <td>
            <button (click)="editClass(one)" class="btn btn-primary">Изменить</button>
            <button (click)="deleteClass(one.id)" class="btn btn-danger">Удалить</button>
          </td>
        </ng-template>
      </tr>
    </tbody>  
    <tfoot>
      <tr>
        <td>
          <button class="show-button btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Создать</button>
        </td>          
      </tr>
    </tfoot>        
  </table>   
</div>

<ng-template #edit>
    <td>{{class.id}}</td>
    <td>
        <input type="text" [(ngModel)]="class.name" class="form-control" size="7">
    </td>
    <td>
      <select [(ngModel)]="class.classTeacherId" class="form-select">   
        <option selected value="{{class.classTeacherId}}">{{class.classTeacherFullName}}</option>  
        <option *ngFor="let pos of teacherFullNames" value="{{pos.id}}">{{pos.fullName}}</option>
      </select>   
    </td>
    <td>
        <button (click)="updateClass(class.id, class)" 
                class="btn btn-success">Сохранить</button>
        <button (click)="cancel()" class="btn btn-warning">Отмена</button>
    </td>
</ng-template>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Создание класса</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <label class="form-label">Название</label>
          <input type="text" [(ngModel)]="class.name" class="form-control">  
        </div>
        <div>
          <label class="form-label">Классный руководитель</label>
          <select [(ngModel)]="class.classTeacherId" class="form-select">
            <option *ngFor="let pos of defaultFullNames" value="{{pos.id}}">{{pos.fullName}}</option>
          </select>              
        </div>
      </div>
      <div class="modal-footer">
        <div class="container">
          <button (click)="createClass(class)" class="btn btn-success " data-bs-dismiss="modal" >Создать</button>
        </div>
      </div>
    </div>
  </div>
</div>