<div class="container-fluid responsive-grid">
  <mat-card *ngFor="let class of classes" class="form-field-density-5 icon-button-density-5">
    <h4>{{class.id}} Класс</h4>
    <button mat-icon-button *ngIf="class.id != editableClass.id else editButtons" (click)="editClass(class)" class="close-button">
      <mat-icon>edit</mat-icon></button>
    <ng-template #editButtons>           
      <button mat-icon-button (click)="updateClass()" class="action-button"><mat-icon>check</mat-icon></button>
      <button mat-icon-button (click)="cancel()" class="close-button"><mat-icon>close</mat-icon></button>
    </ng-template>                      
    <div [ngSwitch]="class.id">
      <label class="mb-1">Классный руководитель</label>  
      <mat-form-field *ngSwitchCase="editableClass.id">
        <select matNativeControl [(ngModel)]="editableClass.classTeacherId">
          <option *ngFor="let teacher of teacherFullNames" [value]="teacher.id">{{teacher.fullName}}</option>
        </select>
        <button *ngIf="editableClass.classTeacherId" (click)="deleteClassTeacher()" matSuffix mat-icon-button><mat-icon>close</mat-icon></button>
      </mat-form-field>   
      <div *ngSwitchDefault class="name-div">{{class.classTeacherFullName}}</div> 
    </div>
    <div class="buttons-grid button-density-2">
      <button mat-raised-button color="grey" routerLink="/students" [state]="{ classId: class.id }">Ученики</button>
      <button mat-raised-button color="grey" routerLink="/timetable/{{class.id}}">Расписание</button>
      <button mat-raised-button color="grey" (click)="cancel()">Предметы</button> 
    </div>
  </mat-card>
</div>