div {
    font-family: 'Roboto', sans-serif;
    text-align: center ;   
    h1 {
        padding: 2rem;
    }  
    tfoot {
        border: white;
    } 
    button {
        margin: 0px 5px;
        padding: 3px;
    }
    input {
        margin-left: 10px;
    }
} 