<div class="container"> 
  <h2 class="text-center">{{title}}</h2> 
  <table class="table align-middle">
    <thead>
      <tr>
        <th class="col-3">Название предмета</th>
        <th class="col-7 text-center">Классы, в которых он изучается</th>
        <th class="col-2 text-end">
          <button mat-raised-button color="primary" (click)="openDialog()">Добавить</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let one of academicSubjects">
        <ng-template [ngIf]="academicSubject?.id != one.id" [ngIfElse]="edit">
          <td>{{one?.name}}</td>
          <td>
            <mat-slider min="1" max="11" step="1" showTickMarks discrete disabled>
              <input matSliderStartThumb [value]="one.minClass">
              <input matSliderEndThumb [value]="one.maxClass">
            </mat-slider>
          </td>
          <td class="text-end">
            <button (click)="editAcademicSubject(one)" class="btn light-blue table-btn">Изменить</button>
            <button (click)="deleteAcademicSubject(one.id)" class="btn btn-danger table-btn">Удалить</button>
          </td>
        </ng-template>
      </tr>
    </tbody>       
  </table>   
</div>

<ng-template #edit>
  <td>
    <input [(ngModel)]="academicSubject.name" type="text" class="form-control" placeholder="Введите название">
  </td>
  <td>
    <mat-slider min="1" max="11" step="1" showTickMarks discrete>
      <input matSliderStartThumb [(value)]="academicSubject.minClass">
      <input matSliderEndThumb [(value)]="academicSubject.maxClass">
    </mat-slider>
  </td>
  <td class="text-end">
    <button (click)="updateAcademicSubject()" class="btn btn-success table-btn">Сохранить</button>
    <button (click)="cancel()" class="btn btn-warning table-btn">Отмена</button>
  </td>
</ng-template>
